{extend name="Public:public"}

{block name="title"}
	<title>添加輪播廣告</title>
{/block}

{block name="crumbs"}
	<li class="active"><a href="{:url('admin/advert/carousel_list')}">輪播圖列表</a></li>
	<li class="active">添加輪播廣告</li>
{/block}

{block name="contents"}
	<div class="panel panel-default bk-bg-white col-md-6 col-md-offset-3">
		<div class="panel-heading bk-bg-white">
			<h6><i class="fa fa-indent red"></i>添加輪播廣告</h6>							
			<div class="panel-actions">
				<a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
				<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
			</div>
		</div>
		<div class="panel-body">
			<form action="{:url('admin/advert/action_rev_carousel')}" method="post" enctype="multipart/form-data">
				<input type="hidden" name="id" value="{$data.id}">
				<div class="form-group">
					<label for="nf-user">URL鏈接</label>
					<input type="text" name="url" class="form-control" value="{$data.url}" placeholder="請輸入地址">
				</div>
				<div class="form-group">
					<label for="nf-user">是否顯示</label>
					<div >
						<div class="radio-custom radio-inline" style="float:left;">
							<input type="radio" id="display1" name="display" value="0" {eq name="$data.display" value="0"} checked {/eq}> 
							<label for="display1"> 不顯示</label>
						</div>
						<div class="radio-custom radio-inline">
							<input type="radio" id="display2" name="display" value="1" {eq name="$data.display" value="1"} checked {/eq}> 
							<label for="display2"> 顯示</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="nf-user">排序</label>
					<input type="text" name="sort" class="form-control" value="{$data.sort}" maxlength="3">
				</div>
				<div class="form-group">
					<label for="nf-user">輪播圖*</label>
					<input type="file" id="file-input" name="image">
					<br>
					<img src="{$data.img_name}">
				</div>
				<button type="submit" class="btn btn-primary col-md-3 pull-right">確認</button>
			</form>
		</div>								
	</div>
{/block}