{extend name="Public:public"}

{block name="title"}
	<title>购物车</title>
{/block}

<!-- body -->
{block name="body"}
	style="background:#fff;"
{/block}

<!-- 内容 -->
{block name="content"}
    {css href="/public/shop/css/shopping_cart.css"}
    {js href="/public/shop/js/index.js"}
	<div class="cart_title">
		SHOPPING CART (<span>0</span>)
	</div>
	<div class="goods_cart">
		<!--没有商品的情况-->
		<div class="no_goods">
			<p>Your cart is empty~</p>
			<div class="goShopping">
				Go Shopping
			</div>
		</div>
		<!--有商品的情况-->
		<div class="has_goods">
			<ul>
				<!--动态创建购物车的列表-->
				{volist name="$cart_data" id="v"}
				<li class="clearfix">
					<!--左侧的图片-->
					<div class="has_good_left f_left">
						<img src="{$v.iname}" width="70" height="70">
					</div>
					<!--右侧的详情区域-->
					<div class="has_goods_right f_right">
						<p class="goods_EnName">{$v.eng_title}</p>
						<p class="goods_CnName">{$v.hk_title}</p>
						<p class="goods_score clearfix">
							{volist name="$v.score" id="vo"}
							<span class="score_En">{$vo.mechanism}</span>
							<span>{$vo.score_num}</span>
							{/volist}
						</p>
						<p class="price_box clearfix">
							<select class="select_box f_left">
								{for start="1" end="30" step="1" name="i"}
								<option {eq name="$v.buy_num" value="$i"} selected {/eq}>{$i}</option>
								
								{/for}
							</select>
							<span class="f_left">@ HK${$v.marketprice}</span>
							<span class="totalPrice">HK$ <span>{$v.marketprice}</span></span>
						</p>
						<p class="wish_box clearfix">
							<a href="###" data-id="{$v.goods_id}">
								delete
							</a>
						</p>
					</div>
				</li>
				{/volist}
			</ul>
			<!--取货方式-->
			<div class="payment_options">
				<h3>PAYMENT OPTIONS*</h2>
				<ul class="options_list clearfix">
					<li >Face to Pay</li>
					<li>Bank Transfer</li>
				</ul>
			</div>
			<!--收货方式-->
			<div class="receive_options">
				<h3>RECEIVING OPTIONS*</h2>
				<ul class="receive_list">
					<li >Since Mentioning</li>
					<li>Express Delivery</li>
					<li>Subway delivery</li>								
				</ul>
			</div>
			<div class="receive_box">
				<div class="receive_content1">
					<div class="triangle triangle1">
						
					</div>
					<form action="">
						<label>
							<input type="radio" name="shop" /> CityNoble A Shop <span style="color: #bebebe;">(852) 28181818 
							Shop D.G/F.City Center Building 145-146 Gloucester Road.Wan chai</span>
						</label> 
						<label>
							<input type="radio"  name="shop" /> CityNoble A Shop<span style="color: #bebebe;">(852) 28181818 
							Shop D.G/F.City Center Building 145-146 Gloucester Road.Wan chai</span>
						</label>
						<label>
							<input type="radio"  name="shop" /> CityNoble A Shop<span style="color: #bebebe;">(852) 28181818 
							Shop D.G/F.City Center Building 145-146 Gloucester Road.Wan chai</span>
						</label>
						<input class="user_name" type="text" placeholder="Fanny Sun"/>
						<input class="user_mail" type="email" placeholder="Fanny@hotmail.com"/>
					</form>
					<div class="service_time">
						*Service time: from 9:00am to 20:00pm
					</div>
				</div>
				<div class="receive_content2">
					<div class="triangle triangle2">
						
					</div>
					我是第二块
				</div>
				<div class="receive_content3">
					<div class="triangle triangle3">
						
					</div>
					我是第三块
				</div>
			</div>
			<!--商品总共的数量详情-->
			<div class="purchase_detail">
				<p style="text-align: right;padding-top: 15px;">Order Summary</p>
				<p style="text-align: right;">Subtotal: <strong style="color: #dd153c;">HK$ <span>{$total}</span></strong></p>
				<p style="text-align: right;">Shipping & Handling: <strong style="color: #dd153c;">HK$ <span>0</span></strong></p>
				<p class="clearfix" style="padding-bottom: 5px;">
					<span style="float: left;">1item</span>
					 <strong style="float: right;color: #dd153c;">Total:HK$<span>{$total}</span></strong>
				</p>
			</div>
			<!--结账的按钮-->
			<div class="check_out">
				<a href="###">
					Check Out
				</a>
			</div>
			
			
		</div>
	</div>
	<!--弹出是否删除此商品-->
			<div class="hk_win">
				<div class="hk_win_box">
					<div class="hk_win_tit">你确定删除该商品吗？</div>
					<div class="hk_btn clearfix">
						<a href="###" class="cancle f_left">取消</a>
						<a href="###" class="submit f_right">确定</a>
					</div>				
				</div>
			</div>
	<script type="text/javascript">
	$(function(){
		if($(".goods_cart").html()==null){
			$(".goods_cart").html("Your cart is empty~");
		}
//		for(var i=1;i<=30;i++){
//			var opt=document.createElement("option");
//			opt.value=i;
//			opt.innerHTML=i;
//			$(".select_box").append(opt);
//		}
		//----------------交货切换
		
		$(".options_list li").click(function(){
			
			var index=$(this).index();
			$(this).addClass("selected").siblings().removeClass("selected");
		})
		//--------------取货切换
		$(".receive_list li").click(function(){
			
			var index2=$(this).index();
			$(this).addClass("selected2").siblings().removeClass("selected2");
			if(index2==0){
				$(".receive_content1").fadeIn(200).siblings().hide();
			}else if(index2==1){
				$(".receive_content2").fadeIn(200).siblings().hide();
			}else if(index2==2){
				$(".receive_content3").fadeIn(200).siblings().hide();
			}
		})
		//---------------再次使用select修改商品的数量
		$(".select_box").change(function(){
			var option=$(this).find("option:selected");
			var sel_value=option.val(); //获取当前选中的值
			//console.log(sel_value);
			var goods_id = $(".wish_box a").attr('data-id');
			var url = "{:url('/shop/cart/rev_cart_goods')}";
			$.post(url,{'goods_id':goods_id,'buy_num':sel_value},function(data){
	    		if(data.code=="200"){
	    			console.log(data);
	    		}
	    	},'json');
	    	
		})
		
		//---------------删除购物车里面的商品
		var that;
		$(".wish_box a").click(function(){
			$(".hk_win").show();
			that=$(this);
		})
		//取消按钮
		$('.cancle').on('click',function(){
	        $('.hk_win').hide();
    	})
		//确定按钮
		$('.submit').on('click',function(){
	        var goods_id = that.attr('data-id');
			var url = "{:url('/shop/cart/del_cart')}";
			$.post(url,{'goods_id':goods_id},function(data){
	    		if(data.code=="200"){
	    			console.log(data);
	    			$(".cart a span").html(data.data.total);
	    			that.parent().parent().parent().remove();
	    		}
	    	},'json');
	    	
	        $('.hk_win').hide();
    	})
	})
</script>
{/block}
{block name="footer"}
{/block}
