<!DOCTYPE html>
<html lang="en">

  <head>
  
    <!-- Basic -->
    <meta charset="UTF-8" />
    {block name="title"}
      <title>首頁</title>
    {/block}
    <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
      <link rel="shortcut icon" href="/favicon.ico" />  
      <!-- start: CSS file-->
    
    <!-- Vendor CSS-->
    {css href="/public/admin/assets/vendor/bootstrap/css/bootstrap.min.css" /}
    {css href="/public/admin/assets/vendor/skycons/css/skycons.css" /}
    {css href="/public/admin/assets/vendor/font-awesome/css/font-awesome.min.css" /}
    {css href="/public/admin/assets/vendor/css/pace.preloader.css" /}
    
    <!-- Plugins CSS-->
    {css href="/public/admin/assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" /}  
    {css href="/public/admin/assets/plugins/scrollbar/css/mCustomScrollbar.css" /}
    {css href="/public/admin/assets/plugins/bootkit/css/bootkit.css" /}
    {css href="/public/admin/assets/plugins/magnific-popup/css/magnific-popup.css" /}
    {css href="/public/admin/assets/plugins/fullcalendar/css/fullcalendar.css" /}
    {css href="/public/admin/assets/plugins/jqvmap/jqvmap.css" /}
    
    <!-- Theme CSS -->
    {css href="/public/admin/assets/css/jquery.mmenu.css" /}
    
    <!-- Page CSS -->   
    {css href="/public/admin/assets/css/style.css" /}
    {css href="/public/admin/assets/css/add-ons.min.css" /}
    {css href="/public/admin/assets/css/my.css" /}
    
    <!-- end: CSS file--> 
      
    
    <!-- Head Libs -->
    {js href="/public/admin/assets/plugins/modernizr/js/modernizr.js" /}    
      <!-- start: JavaScript-->
    
    <!-- Vendor JS-->       
    {js href="/public/admin/assets/vendor/js/jquery-2.1.1.min.js" /}
    {js href="/public/admin/assets/vendor/js/jquery-migrate-1.2.1.min.js" /}
    {js href="/public/admin/assets/vendor/bootstrap/js/bootstrap.min.js" /}
    {js href="/public/admin/assets/vendor/skycons/js/skycons.js" /}
    {js href="/public/admin/assets/vendor/js/pace.min.js" /}
    
    <!-- Plugins JS-->
    {js href="/public/admin/assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js" /}
    {js href="/public/admin/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js" /}
    {js href="/public/admin/assets/plugins/bootkit/js/bootkit.js" /}
    {js href="/public/admin/assets/plugins/magnific-popup/js/magnific-popup.js" /}
    {js href="/public/admin/assets/plugins/moment/js/moment.min.js" /}  
    {js href="/public/admin/assets/plugins/fullcalendar/js/fullcalendar.js" /}
    {js href="/public/admin/assets/plugins/flot/js/jquery.flot.min.js" /}
    {js href="/public/admin/assets/plugins/flot/js/jquery.flot.pie.min.js" /}
    {js href="/public/admin/assets/plugins/flot/js/jquery.flot.resize.min.js" /}
    {js href="/public/admin/assets/plugins/flot/js/jquery.flot.stack.min.js" /}
    {js href="/public/admin/assets/plugins/flot/js/jquery.flot.time.min.js" /}
    {js href="/public/admin/assets/plugins/flot-tooltip/js/jquery.flot.tooltip.js" /}
    {js href="/public/admin/assets/plugins/chart-master/js/Chart.js" /}
    {js href="/public/admin/assets/plugins/jqvmap/jquery.vmap.js" /}
    {js href="/public/admin/assets/plugins/jqvmap/data/jquery.vmap.sampledata.js" /}
    {js href="/public/admin/assets/plugins/jqvmap/maps/jquery.vmap.world.js" /}
    {js href="/public/admin/assets/plugins/sparkline/js/jquery.sparkline.min.js" /}
    
    <!-- Theme JS -->   
    {js href="/public/admin/assets/js/jquery.mmenu.min.js" /}
    {js href="/public/admin/assets/js/core.min.js" /}
    
    <!-- Pages JS -->
    {block name="pagejs"}
<!--     {js href="/public/admin/assets/js/pages/index.js" /} -->
    {/block}
    <!-- end: JavaScript-->
  </head>
  
  <body>
  {php}use think\Session;{/php}

    <!-- Start: Header -->
    <div class="navbar" role="navigation">
      <div class="container-fluid container-nav">
        <!-- Navbar Action -->
        <!-- <ul class="nav navbar-nav navbar-actions navbar-left">
          <li class="visible-md visible-lg"><a href="#" id="main-menu-toggle"><i class="fa fa-th-large"></i></a></li>
          <li class="visible-xs visible-sm"><a href="#" id="sidebar-menu"><i class="fa fa-navicon"></i></a></li>      
        </ul>
 -->        <!-- Navbar Left -->
        <div class="navbar-left">
          <!-- Search Form -->          
          <!-- <form class="search navbar-form">
            <div class="input-group input-search">
              <input type="text" class="form-control bk-radius" name="q" id="q" placeholder="搜索...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
              </span>
            </div>            
          </form> -->
        </div>
        <!-- Navbar Right -->
        <div class="navbar-right">          
          <!-- End Notifications -->          
          <!-- Userbox -->
          <div class="userbox">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <figure class="profile-picture hidden-xs">
                <img src="/public/admin/assets/img/avatar.jpg" class="img-circle" alt="" />
              </figure>
              <div class="profile-info">
                <span class="name">{php}echo Session::get('user.name','admin_user'){/php}</span>
                <span class="role"><i class="fa fa-circle bk-fg-success"></i> 管理員</span>
              </div>      
              <i class="fa custom-caret"></i>
            </a>
            <div class="dropdown-menu">
              <ul class="list-unstyled">
                <li class="dropdown-menu-header bk-bg-white bk-margin-top-15">            
                  <div class="progress progress-xs  progress-striped active">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                      60%
                    </div>
                  </div>              
                </li> 
          <!--       <li>
                  <a href="page-profile.html"><i class="fa fa-user"></i> 个人中心</a>
                </li> -->
                <li>
                  <a href="{:url('admin/message/index')}"><i class="fa fa-bell"></i> 消&nbsp;息</a>
                </li>
                <li>
                  <a href="{:url('admin/base/loginOut')}"><i class="fa fa-power-off"></i> 退&nbsp;出</a>
                </li>
              </ul>
            </div>            
          </div>
          <!-- End Userbox -->
        </div>
        <!-- End Navbar Right -->
        <div class="profile-info pull-right" style="margin-right: 25px">
          <a style="font-size: 16px;color: #3c3c3c; text-decoration: none;" href="{:url('admin/base/clear_refresh')}"><i class="fa fa-refresh"></i> 刷&nbsp;新</a>
        </div> 
      </div>    
    </div>
    <!-- End: Header -->
    <!-- Start: Content -->
    <div class="container-fluid content"> 
      <div class="row">
      
        <!-- Sidebar -->
        <div class="sidebar">
          <div class="sidebar-collapse">
            <!-- Sidebar Header Logo-->
            <div class="sidebar-header" style="padding: 0 35px;">
              <!-- <img src="/public/admin/assets/img/avatar.jpg" style="width: 150px;height: 62px;" class="img-responsive" alt="" /> -->
            </div>
            <!-- Sidebar Menu-->
            <div class="sidebar-menu">            
              <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-sidebar">
                  <div class="panel-body text-center">                
                    <!-- <div class="flag">
                      <img src="/public/admin/assets/img/flags/USA.png" class="img-flags" alt="" />
                    </div> -->
                  </div>
                  <li class="active">
                    <a href="{:url('admin/index/index')}">
                      <i class="fa fa-home" aria-hidden="true"></i><span>首頁</span>
                    </a>
                  </li>
       <!--            <li>
                    <a href="mailbox-inbox.html">
                      <span class="pull-right label label-danger">235</span>
                      <i class="fa fa-envelope" aria-hidden="true"></i><span>Mail</span>
                    </a>
                  </li>-->   
                  <li class="nav-parent">
                    <a>
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>商品管理</span>
                    </a>
                    <ul class="nav nav-children">
                     <li>
                        <a href="{:url('admin/cates/index')}"><span class="text"> 分類管理</span></a>
                      </li>
                      <li>
                        <a href="{:url('admin/goods/index')}"><span class="text"> 商品管理</span></a>
                      </li>
                      <li>
                        <a href="{:url('admin/goods/area_list')}"><span class="text"> 商品區域</span></a>
                      </li>
                      <li>
                        <a href="{:url('admin/score/score_list')}"><span class="text"> 商品評分管理</span></a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-parent">
                    <a>
                      <i class="fa fa-group" aria-hidden="true"></i><span>會員管理</span>
                    </a>
                    <ul class="nav nav-children">
                      <li>
                        <a href="{:url('admin/member/users')}"><span class="text"> 會員列表</span></a>
                      </li>
                      <li>
                        <a href="{:url('admin/member/add_user')}"><span class="text"> 新增會員</span></a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-parent">
                    <a>
                      <i class="fa fa-cogs" aria-hidden="true"></i><span>商城設置</span>
                    </a>
                    <ul class="nav nav-children">
                      <li>
                        <a href="{:url('admin/advert/carousel_list')}"><span class="text"> 輪播圖管理</span></a>
                      </li>
                    </ul>
                  </li>
                  <!-- {php} if(rule_count(1) == 1){ {/php} -->
                  <li class="nav-parent">
                    <a>
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>商品管理</span>
                    </a>
                    <ul class="nav nav-children">
                     <li>
                        <a href="{:url('admin/cates/index')}"><span class="text"> 分类管理</span></a>
                      </li>
                      <li>
                        <a href="{:url('admin/goods/index')}"><span class="text"> 商品管理</span></a>
                      </li>
                     <!--  {php} if(is_rule('admin/cates/index') == 1){ {/php}
                      {php} } {/php} -->
                    </ul>
                  </li>
                  <!-- {php} } {/php} -->

                </ul>
              </nav>
            </div>
            <!-- End Sidebar Menu-->
          </div>
          <!-- Sidebar Footer-->
          <div class="sidebar-footer">          
        <!-- 
            <ul class="sidebar-terms bk-margin-top-10">
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">About</a></li>
            </ul>  -->        
          </div>
          <!-- End Sidebar Footer-->
        </div>
        <!-- End Sidebar -->
            
        <!-- Main Page -->
        <div class="main ">
          <!-- Page Header -->
          <div class="page-header">
            <div class="pull-left">
              <ol class="breadcrumb visible-sm visible-md visible-lg">                
                <li><a href="{:url('admin/index/index')}"><i class="icon fa fa-home"></i>Home</a></li>
                {block name="crumbs"}
                <li class="active"><i class="fa fa-laptop"></i>首页</li>
                {/block}
              </ol>           
            </div>
        <!--    <div class="pull-right">
              <h2>Dashboard</h2>
            </div>     -->      
          </div>
          <!-- End Page Header -->
          
          <div class="row">
          {block name="contents"}

          {/block}
          </div>  

        </div>
        <!-- End Main Page -->
        
        <!-- Footer -->
<!--         <div id="footer">

        </div> -->
        <!-- End Footer -->
      
      </div>
    </div><!--/container-->
    
    
    <div class="clearfix"></div>    
    
    
  
    
  </body>
  
</html>