<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人中心</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    	<meta name="apple-mobile-app-capable" content="yes">
    	<meta name="description" content="">
    	<meta name="keywords" content="">
    	<meta http-equiv="Cache-Control" content="no-siteapp">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		{css href="/public/shop/css/base.css"}
		{css href="/public/shop/css/index.css"}
		{css href="/public/shop/css/shop_cart.css"}
		
		<!--<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" type="text/css" href="css/shop_cart.css"/>-->
		
	</head>
	<body style="background: #fff;">
		<div class="container">
			<!--弹出层-->
			<div class="alert_box">
				<section class="searchBar">
					<form class="formWarp clearfix" action="/serach">
						<label class="select_label">
							<span class="select_labelText">Ship to:</span>
							<select class="selectContent">
								<option value="DL">DL</option>
								<option value="HK" selected="selected">HK</option>
								<option value="TW">TW</option>
							</select>
						</label>
						<div class="search_box">
							<input class="search_input" type="search" placeholder="Search Wine Buy Buy.com" />
						</div>
					</form>
				</section>
				<!--分类的列表-->
				<ul class="type_list">
					<li class="on">VARIETAL</li>
					<li>REGION</li>
					<li>SPECIALS</li>
					<li>PRO-SEARCH</li>					
				</ul>
				<!--分类的内容区域-->
				<div class="content">
					<div class="content_area1">
						<!--Red Wine-->
						<p class="wine1">RED WINE</p>
						<ul>
							<li>
								<a href="###">
									<span>Bordeaux Blends</span>
								</a>
							</li>
							<li>
								<a href="###">
									<span>Cabernet Sauvignon</span>
									
								</a>
							</li>
							<li>
								<a href="###">
									<span>Merlot</span>
								</a>
							</li>
							<li>
								<a href="###">
									<span>Pinot Noir</span>
								</a>
							</li>
							<li>
								<a href="###">
									<span>Other Red Blends</span>
								</a>
							</li>
							<li>
								<a href="###">
									<span>Sangiovese</span>
								</a>
							</li>
							<li>
								<a href="###">
									<span>Syrah/ Shiraz</span>
								</a>
							</li>
							<li>
								<a href="###">
									<span>Pinot Gris / Grigio</span>
								</a>
							</li>
						</ul>
						<!---->
						<ul>
							<li></li>
						</ul>
					</div>
					<div class="content_area2">区域2</div>
					<div class="content_area3">区域3</div>
					<div class="content_area4">区域4</div>
				</div>
			</div>
			<div class="top">
				
			</div>
			<!--头部的区域-->
			<header>
				<div class="menu">
					<img src="/public/shop/img/icon1.png" alt="" class="anniu"/>
				</div>
				<div class="logo_area">
					<a href="index.html">
						<img src="/public/shop/img/logo.png" alt="" />
					</a>
				</div>
				<div class="right_box">
					<div class="center">
						<a href="personal_center.html">
							<img src="/public/shop/img/icon2.png" alt="" />
						</a>
					</div>
					<div class="cart">
						<a href="shopping_cart.html">
							<span style="display: inline-block;padding-left: 5px;font-weight: bold;color: #dc143c;">9</span>
						</a>
					</div>
				</div>
			</header>
			<div class="contant">
			<div class="center_bg">
				<img src="img/center_bg.jpg"/>
			</div>
			<!--客户头像-->
			<div class="personal_area">
				<div class="portrait">
					<img src="img/portrait_bg.png" alt="" />
				</div>
				<p>My Wine</p>
			</div>
			<!--购买的商品列表-->
			<div class="goods_list">
				<ul class="list_ul">
					<li class="selected">ORDER</li>
					<li>WISH LIST</li>
					<li>ACCOUNT</li>
				</ul>
			</div>
			<!--商品的内容区域-->
			<div class="goods_box">
				<div class="goods_content1">
					<ul class="goods_content1_ul">
						<li>
							<div class="goods_img_left">
								<div class="goods_imgs">
									<img src="img/goods_img1.png"/>
								</div>
							</div>
							<div class="goods_desc_right">
								<p class="goods_EnName">Screaming Eagle Cabernet Sauvignon</p>
								<p class="goods_CnName">啸鹰赤霞珠</p>
								<p class="goods_score clearfix">
									<span class="goods_score1">WE</span>
									<span class="goods_score2">96</span>
								</p>
								<p class="goods_price">
									<span class="price_after">HK$ 8888</span>
									<span class="price_before">HK$ 9999</span>
								</p>
							</div>
							<div class="goods_notice clearfix">
								<span class="goods_num f_left">1 item</span>
								<span class="order_time f_right">Your order from 19/07/2017</span>
							</div>
						</li>
						<li>
							<div class="goods_img_left">
								<div class="goods_imgs">
									<img src="img/goods_img1.png"/>
								</div>
							</div>
							<div class="goods_desc_right">
								<p class="goods_EnName">Screaming Eagle Cabernet Sauvignon</p>
								<p class="goods_CnName">啸鹰赤霞珠</p>
								<p class="goods_score clearfix">
									<span class="goods_score1">WE</span>
									<span class="goods_score2">96</span>
								</p>
								<p class="goods_price">
									<span class="price_after">HK$ 8888</span>
									<span class="price_before">HK$ 9999</span>
								</p>
							</div>
							<div class="goods_notice clearfix">
								<span class="goods_num f_left">1 item</span>
								<span class="order_time f_right">Your order from 19/07/2017</span>
							</div>
						</li>
					</ul>
					
				</div>
				<div class="goods_content2">区域2</div>
				<div class="goods_content3">区域3</div>
			</div>
			<!--客服聊天-->
			<div class="chat">
				chat online
			</div>
			<!--底部区域-->
			<div class="bottom">
				<p>
					<a href="tel:400666666" style="text-decoration: underline;font-size: 14px;">Call</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a style="text-decoration: underline;font-size: 14px;" href="mailto:woshixdoyf@163.com">Email</a>					
				</p>
				<ul class="relation clearfix">
					<li>
						<a href="www.facebook.com">													
							<div>
								<img src="/public/shop/img/icon7.png" alt="" style="width: 11.5px;height: 22px;"/>
							</div>
							<p>
								Facebook
							</p>
						</a>
					</li>
					<li>
						<a href="###">													
							<div>
								<img src="/public/shop/img/icon8.png" alt="" style="width: 20.26px;height: 21.5px;"/>
							</div>
							<p>
								Youtobe
							</p>
						</a>
					</li>
					<li>
						<a href="###">													
							<div>
								<img src="/public/shop/img/icon9.png" alt="" style="width: 21px;height: 21.5px;"/>
							</div>
							<p>
								Privacy Policy
							</p>
						</a>
					</li>
					<li>
						<a href="###">													
							<div>
								<img src="/public/shop/img/icon10.png" alt="" style="width: 18px;height: 21.5px;"/>
							</div>
							<p>
								Terms
							</p>
						</a>
					</li>
				</ul>
			</div>
			</div>
		</div>
	</body>
</html>
{js href="/public/shop/js/jquery-3.1.1.min.js"}
{js href="/public/shop/js/index.js"}
{js href="/public/shop/js/shop_cart.js"}
<!--<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/index.js" "></script>
<script type="text/javascript" src="js/shop_cart.js"></script>-->