{extend name="Public:public"}

{block name="title"}
	<title>添加商品</title>
{/block}

{block name="crumbs"}
	<li class="active"><a href="{:url('admin/goods/index')}">商品管理</a></li>
	<li class="active">添加商品</li>
{/block}

{block name="contents"}
  	{js href="/public/kindeditor/kindeditor-all-min.js"}
  	{js href="/public/kindeditor/lang/zh-CN.js"}
  	{js href="/public/admin/assets/js/my.js"}
	<div class="panel panel-default bk-bg-white col-md-6 col-md-offset-3">
		<div class="panel-heading bk-bg-white">
			<h6><i class="fa fa-indent red"></i>添加商品</h6>							
			<div class="panel-actions">
				<a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
				<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
			</div>
		</div>
		<div class="panel-body">
			<form action="{:url('admin/goods/action_add_goods')}" method="post" enctype="multipart/form-data">
				<input type="hidden" name="winetype" value="" id="winetype">
				<div class="form-group">
					<label for="nf-user">商品中文名稱*</label>
					<input type="text" name="hk_title" class="form-control" value="" placeholder="請輸入中文名">
				</div>
				<div class="form-group">
					<label for="nf-user">商品英文名稱*</label>
					<input type="text" name="eng_title" class="form-control" value="" placeholder="請輸入英文名">
				</div>
				<div class="form-group">
					<label for="nf-user">是否上架銷售</label>
					<div >
						<div class="radio-custom radio-inline" style="float:left;">
							<input type="radio" id="status1" name="status" value="0"> 
							<label for="status1"> 是</label>
						</div>
						<div class="radio-custom radio-inline">
							<input type="radio" id="status2" name="status" value="1" checked> 
							<label for="status2"> 否</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="nf-password">商品區域*</label>
					<select id="cate" name="area_id" class="form-control">
						{volist name="areas_data" id="vo"}
						<option value="{$vo.id}">{$vo.area_name}</option>
						{/volist}
					</select>
				</div>

				<div class="form-group">
					<label for="nf-password">分類*</label>
					<br>
					<br>
						{volist name="cates_data" id="vo"}
						{eq name="$vo.pid" value="0"}
							<input type="checkbox" class="one" data_id="{$vo.id}" id="cate_id{$vo.id}" name="cate_id[]" value="{$vo.id}"> 
							<label for="cate_id{$vo.id}">{$vo.cname}</label>
							{volist name="cates_data" id="v"}
							{eq name="$v.pid" value="$vo.id"}
							<br>
							&nbsp;&nbsp;&nbsp;
							<input class="one{$vo.id} second" data_id="{$v.id}" data_pid="{$vo.id}" type="checkbox" id="second{$v.id}" name="cate_id[]" value="{$v.id}"> 
							<label for="second{$v.id}">{$v.cname}</label>
							<br>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							{volist name="cates_data" id="val"}
							{eq name="$val.pid" value="$v.id"}
							<input class="one{$vo.id} second{$v.id} three" type="checkbox" id="cate_id{$val.id}" data_ppid="{$vo.id}" data_pid="{$v.id}" name="cate_id[]" value="{$val.id}"> 
							<label for="cate_id{$val.id}">{$val.cname}</label>
							{/eq}
							{/volist}
							<br>
							{/eq}
							{/volist}
							<br>
							<br>
						{/eq}
					{/volist}
				</div>
			
				<div class="form-group">
					<label for="nf-user">年份*</label>
					<input type="text" name="years" class="form-control" value="" placeholder="請輸入年份">
				</div>
				<div class="form-group">
					<label for="nf-user">零售價*</label>
					<input type="text" name="marketprice" id="marketprice" class="form-control" value="" placeholder="請輸入零售價">
				</div>
				<div class="form-group">
					<label for="nf-user">市場價*</label>
					<input type="text" name="storeprice" class="form-control" value="" placeholder="請輸入市場價">
				</div>
				<div class="form-group">
					<label for="nf-user">商品貨號*</label>
					<input type="text" name="record_goosnum" class="form-control" value="" placeholder="請輸入商品貨號">
				</div>
				<div class="form-group">
					<label for="nf-user">重量*</label>
					<input type="text" name="weight" class="form-control" value="0" >
				</div>
				<div class="form-group">
					<label for="nf-user">庫存*</label>
					<input type="text" name="stock" class="form-control" value="0">
				</div>
				<div class="form-group">
					<label for="nf-user">商品主圖*</label>
					<input type="file" id="file-input" name="image">
				</div>
				<div class="form-group">
					<label for="nf-user">其他圖片</label>
					<input type="file" id="file-input" multiple name="images[]">
				</div>
				<div class="form-group">
					<label for="nf-user">商品詳細描述*：</label>	
					<textarea  id="container" name="goods_msg" style="width:750px;height:400px;"></textarea>
				</div>
				<div class="form-group">
					<label for="nf-user">是否首頁展示</label>
					<div >
						<div class="radio-custom radio-inline" style="float:left;">
							<input type="radio" id="is_home1" name="is_home" value="0" checked> 
							<label for="is_home1"> 否</label>
						</div>
						<div class="radio-custom radio-inline">
							<input type="radio" id="is_home2" name="is_home" value="1"> 
							<label for="is_home2"> 是</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="nf-password">排序</label>
					<input type="text" maxlength="3" name="sort" class="form-control" value="0">
				</div>
				<button type="submit" class="btn btn-primary col-md-3 pull-right">確認</button>
			</form>
		</div>								
	</div>
	<script>
        var ke;
		KindEditor.ready(function(K) {
			ke=K.create('textarea[id="container"]', {
				filterMode : false,
				uploadJson : '/public/kindeditor/php/upload_json.php',
		        fileManagerJson : '/public/kindeditor/php/file_manager_json.php',
		        imageSizeLimit : '10MB', //批量上传图片单张最大容量
    			imageUploadLimit : 100 ,
		        allowFileManager : true
			});
		});
	</script>
	<script type="text/javascript">
		// 第一级选择
		$('.one').click(function(){
			var is_check = $(this).is(':checked');
			var id =　$(this).attr('data_id');
			if(is_check == false){
				$('.one'+id).removeAttr('checked');
			}
		})

		// 第二级选择
		$('.second').click(function(){
			var is_check = $(this).is(':checked');
			var id =　$(this).attr('data_id');
			var pid =　$(this).attr('data_pid');
			if(is_check == true){
				$('#cate_id'+pid).attr('checked','true');
			}else{
				$('.second'+id).removeAttr('checked');
			}
		})

		// 第三级选择
		$('.three').click(function(){
			var is_check = $(this).is(':checked');
			var id =　$(this).attr('data_id');
			var ppid =　$(this).attr('data_ppid');
			var pid =　$(this).attr('data_pid');
			if(is_check == true){
				$('#second'+pid).attr('checked','true');
				$('#cate_id'+ppid).attr('checked','true');
			}else{
				$('.three'+id).removeAttr('checked');
			}
		})
	</script>
{/block}