{extend name="Public:public"}

{block name="title"}
	<title>修改商品</title>
{/block}

{block name="crumbs"}
	<li class="active"><a href="{:url('admin/goods/index')}?status={$status}&page={$page}">商品管理</a></li>
	<li class="active">修改商品</li>
{/block}

{block name="contents"}
  	{js href="/public/kindeditor/kindeditor-all-min.js"}
  	{js href="/public/kindeditor/lang/zh-CN.js"}
  	{js href="/public/admin/assets/js/my.js"}
	<div class="panel panel-default bk-bg-white col-md-8 col-md-offset-3">
		<div class="panel-heading bk-bg-white">
			<h6><i class="fa fa-indent red"></i>修改商品</h6>
			<a style="border: 1px solid black;font-size: 25px;" href="{:url('admin/goods/rev_goods',['id' => $goods_id-1])}">上一个</a>
			<a style="border: 1px solid black;font-size: 25px;" href="{:url('admin/goods/rev_goods',['id' => $goods_id+1])}">下一个</a>
		</div>
		{neq name="goods" value=''}
		<div class="panel-body">
			<form action="{:url('admin/goods/action_rev_goods')}" method="post" enctype="multipart/form-data">
				<input type="hidden" name="id" value="{$goods_id}">
				<div class="form-group">
					<label for="nf-user">商品中文名称*</label>
					<input type="text" name="hk_title" class="form-control" value="{$goods.hk_title}" placeholder="请输入中文名">
				</div>
				<div class="form-group">
					<label for="nf-user">商品英文名称*</label>
					<input type="text" name="eng_title" class="form-control" value="{$goods.eng_title}" placeholder="请输入英文名">
				</div>
				<div class="form-group">
					<label for="nf-user">是否上架销售</label>
					<div >
						<div class="radio-custom radio-inline" style="float:left;">
							<input type="radio" id="status1" name="status" value="0" {eq name="$goods.status" value="0"} checked {/eq}> 
							<label for="status1"> 是</label>
						</div>
						<div class="radio-custom radio-inline">
							<input type="radio" id="status2" name="status" value="1" {eq name="$goods.status" value="1"} checked {/eq}> 
							<label for="status2"> 否</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="nf-password">商品区域*</label>
					<select id="cate" name="area_id" class="form-control">
						{volist name="areas_data" id="vo"}
						<option value="{$vo.id}" {eq name="$vo.id" value="goods.area_id"} checked {/eq}>{$vo.area_name}</option>
						{/volist}
					</select>
				</div>

				<div class="form-group">
					<label for="nf-password">分类*</label>
					<br>
					<br>
						{volist name="cates_data" id="vo"}
						{eq name="$vo.pid" value="0"}
							<input type="checkbox" class="one" data_id="{$vo.id}" id="cate_id{$vo.id}" {neq name="cates" value=""}{volist name="cates" id="a"}{eq name="$a" value="$vo.id"} checked {/eq}{/volist}{/neq} name="cate_id[]" value="{$vo.id}"> 
							<label for="cate_id{$vo.id}">{$vo.cname}</label>
							{volist name="cates_data" id="v"}
							{eq name="$v.pid" value="$vo.id"}
							<br>
							&nbsp;&nbsp;&nbsp;
							<input class="one{$vo.id} second" data_id="{$v.id}" data_pid="{$vo.id}" {neq name="cates" value=""}{volist name="cates" id="a"}{eq name="$a" value="$vo.id"} checked {/eq}{/volist}{/neq}  type="checkbox" id="second{$v.id}" name="cate_id[]" value="{$v.id}"> 
							<label for="second{$v.id}">{$v.cname}</label>
							<br>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							{volist name="cates_data" id="val"}
							{eq name="$val.pid" value="$v.id"}
							<input class="one{$vo.id} second{$v.id} three" type="checkbox" id="cate_id{$val.id}" data_ppid="{$vo.id}" data_pid="{$v.id}" {neq name="cates" value=""}{volist name="cates" id="a"}{eq name="$a" value="$vo.id"} checked {/eq}{/volist}{/neq}  name="cate_id[]" value="{$val.id}"> 
							<label for="cate_id{$val.id}">{$val.cname}</label>
							{/eq}
							{/volist}
							<br>
							{/eq}
							{/volist}
							<br>
							<br>
						{/eq}
					{/volist}
				</div>
			
				<div class="form-group">
					<label for="nf-user">年份*</label>
					<input type="text" name="years" class="form-control" value="{$goods.years}" placeholder="请输入年份">
				</div>
				<div class="form-group">
					<label for="nf-user">零售价*</label>
					<input type="text" name="marketprice" id="marketprice" class="form-control" value="{$goods.marketprice}" placeholder="请输入零售价">
				</div>
				<div class="form-group">
					<label for="nf-user">市场价*</label>
					<input type="text" name="storeprice" class="form-control" value="{$goods.storeprice}" placeholder="请输入市场价">
				</div>
				<div class="form-group">
					<label for="nf-user">商品货号*</label>
					<input type="text" name="record_goosnum" class="form-control" value="{$goods.record_goosnum}" placeholder="请输入商品货号">
				</div>
				<div class="form-group">
					<label for="nf-user">重量*</label>
					<input type="text" name="weight" class="form-control" value="{$goods.weight}" >
				</div>
				<div class="form-group">
					<label for="nf-user">库存*</label>
					<input type="text" name="stock" class="form-control" value="{$goods.stock}">
				</div>
				<div class="form-group">
					<label for="nf-user">商品详细描述*：</label>	
					<textarea  id="container" name="goods_msg" style="width:750px;height:400px;">{$goods.content}</textarea>
				</div>
				<div class="form-group">
					<label for="nf-password">排序</label>
					<input type="text" maxlength="3" name="sort" class="form-control" value="{$goods.sort}">
				</div>
				<button type="submit" class="btn btn-primary col-md-3 pull-right">确认</button>
			</form>
		</div>
		{/neq}
	</div>
	<script>
        var ke;
		KindEditor.ready(function(K) {
			ke=K.create('textarea[id="container"]', {
				filterMode : false,
				uploadJson : '/public/kindeditor/php/upload_json.php',
		        fileManagerJson : '/public/kindeditor/php/file_manager_json.php',
		        imageSizeLimit : '10MB', //批量上传图片单张最大容量
    			imageUploadLimit : 100 ,
		        allowFileManager : true
			});
		});
	</script>
	<script type="text/javascript">
		// 第一级选择
		$('.one').click(function(){
			var is_check = $(this).is(':checked');
			var id =　$(this).attr('data_id');
			if(is_check == false){
				$('.one'+id).removeAttr('checked');
			}
		})

		// 第二级选择
		$('.second').click(function(){
			var is_check = $(this).is(':checked');
			var id =　$(this).attr('data_id');
			var pid =　$(this).attr('data_pid');
			if(is_check == true){
				$('#cate_id'+pid).attr('checked','true');
			}else{
				$('.second'+id).removeAttr('checked');
			}
		})

		// 第三级选择
		$('.three').click(function(){
			var is_check = $(this).is(':checked');
			var id =　$(this).attr('data_id');
			var ppid =　$(this).attr('data_ppid');
			var pid =　$(this).attr('data_pid');
			if(is_check == true){
				$('#second'+pid).attr('checked','true');
				$('#cate_id'+ppid).attr('checked','true');
			}else{
				$('.three'+id).removeAttr('checked');
			}
		})

	</script>
{/block}