{extend name="Public:public"}

{block name="title"}
	<title>商品列表</title>
{/block}

<!-- body -->
{block name="body"}
	style="background:#fff;"
{/block}
{block name="search"}
<section class="searchBar">
  <form class="formWarp clearfix" action="/serach">
    <label class="select_label">
      <span class="select_labelText">Ship to:</span>
      <select class="selectContent" id="gcate">
          {php} $goods_area = get_goods_area(); {/php}
          {php} if(!empty($goods_area)){ {/php}
          {php} foreach($goods_area as $v){ {/php}
          <option value="{$v.id}" value="$area_id"} selected {/eq}>{$v.area_name}</option>
          {php} } {/php}
          {php} } {/php}
      </select>
    </label>
    <div class="search_box">
      <input class="search_input" type="search" placeholder="Search Wine Buy Buy.com" value="{$title}" />
    </div>
  </form>
</section>
{/block}
<!-- 内容 -->
{block name="content"}
    {css href="/public/shop/css/category.css"}
    {js href="/public/shop/js/index.js"}
	<div class="goods_select_area clearfix">
		<span class="total_num">999 items</span>
		<label class="select_label">sort:
		<select name="" id="">
			<option value="Top Rated">Top Rated</option>
			<option value="Most Popular" selected="selected">Most Popular</option>
			<option value="Savings">Savings</option>
			<option value="Price:Low to High">Price:Low to High</option>
			<option value="Price:High to Low">Price:High to Low</option>						
		</select>
		</label>
	</div>
	<!--商品的列表-->
	<ul class="goods_list_area">
		<!--动态生成上商品列表-->
		{volist name="$goods" id="v"}
		<li class="clearfix">
			<div class="goods_list_img">
				<img src="{$v.iname}" alt="" width="70" height="100" />
			</div>
			<div class="goods_list_desc">
				<p class="goods_desc_EnName">{$v.eng_title}</p>
				<p class="goods_desc_CnName">{$v.hk_title}</p>
				<p class="goods_desc_score clearfix">
					{volist name="$v.score_data" id="score"}
					<span class="goods_desc_score1">{$score.mechanism}</span>
					<span class="goods_desc_score2">{$score.score_num}</span>
					{/volist}
				</p>
				<p class="goods_price">
					<span class="price_after">HK$ {$v.marketprice}</span>
					<span class="price_before">HK$ {$v.storeprice}</span>
				</p>
				<div class="bottom_area">
					<div class="goods_collect">
						{eq name="$v.is_collection" value="0"}
	            			<img src="/public/shop/img/icon4.png" alt="" />
	            		{else /}
							<img src="/public/shop/img/icon5.png" alt="" />
	            		{/eq}
					</div>
					<div class="goods_ToCar">
						<img src="/public/shop/img/icon6.png" alt="购物车" />
					</div>
				</div>
			</div>
		</li>
		{/volist}
	</ul>
{/block}

	
