{extend name="Public:public"}

{block name="title"}
	<title>分类列表</title>
{/block}

{block name="crumbs"}
	<li class="active">分类管理</li>
	<li class="active">分类列表</li>
{/block}

{block name="contents"}
	<script type="text/javascript" src="/public/admin/assets/js/jquery.treetable.js"></script>
	<script>  
	     $(function () {  
	         $("#example-basic-expandable").treetable({ expandable: true });  
	     })  
	</script>  
	<div class="col-lg-12">
		<div class="panel panel-default bk-bg-white">
			<div class="panel-heading bk-bg-white">
				<h6><i class="fa fa-table"></i><span class="break"></span>分类管理</h6>
				<div class="panel-actions">
					<a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
					<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="col-md-1 pull-right" style="margin:10px 0;">
				<a class="btn btn-success" href="{:url('admin/cates/add_cate')}">
					<i class="fa fa-plus"></i> 添加分类                                           
				</a>
				
			</div>
			<div class="panel-body">
				<div class="table-responsive">	
					<table id="example-basic-expandable" class="table table-striped table-bordered bootstrap-datatable datatable">
						<thead>
							<tr>
								<th>选择</th>
								<th>分类名称</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
						</thead>   
						<tbody>	
							{volist name="data" id="vo" empty="$empty"}	
							<tr id="cate{$vo.id}" data-tt-id="{$vo.id}" {neq name="$vo.pid" value="0"} data-tt-parent-id="{$vo.pid}" {/neq}>
								<td></td>	
								<td>{$vo.cname}</td>
								<td>
									{eq name="$vo.display" value="0"}
									<span class="label label-success">显示</span>
									{else \}
									<span class="label label-warning">隐藏</span>
									{/eq}
								</td>
								<td>
									<a class="add_child btn btn-success" href="javascript:void(0);" data-id="{$vo.id}" data-name="{$vo.cname}">
										<i class="fa fa-plus "></i> 添加子类
									</a>
									<a class="btn btn-info rev_cate" data-id="{$vo.id}" href="javascript:void(0);">
										<i class="fa fa-edit "></i> 修改       
									</a>
									<a class="btn btn-danger action_del_cate" href="javascript:void(0);" data-id="{$vo.id}">
										<i class="fa fa-trash-o "></i> 删除
									</a>
								</td>
							</tr>
							{/volist}
						</tbody>
					</table>
					<div class="col-lg-7" style="position: fixed;left: 430px;top: 285px;display:none;" id="children">
						<div class="panel-heading bk-bg-white">
							<h6><i class="fa fa-indent red"></i><span>添加子类</span></h6>
							<div class="panel-actions">
								<a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
								<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body">
							<input type="hidden" id="parent_id">
							<div class="form-group">
								<label for="nf-user">父类名称</label>
								<input type="text"  class="form-control" id="parent_name" value="" readonly="readonly">
							</div>
							<div class="form-group">
								<label for="nf-user">分类名称*</label>
								<input type="text"  class="form-control" id="child_name" value="" placeholder="请输入分类名称">
							</div>
							<div class="form-group">
								<label for="nf-user">是否显示*</label>
								<select id="child_state" class="form-control">
									<option value="0" selected>显示</option>
									<option value="1">隐藏</option>
								</select>
							</div>
							<div class="form-group">
								<label for="nf-user">排序</label>
								<input type="text"  class="form-control" id="child_sort" value="0">
							</div>
							<button class="col-md-3 btn btn-success pull-right"	id="add_child">
								确定     
							</button>
						</div>
					</div>
					<div class="col-lg-7" style="position: fixed;left: 430px;top: 285px;display:none;" id="revcate">
						<div class="panel-heading bk-bg-white">
							<h6><i class="fa fa-indent red"></i><span>修改分类</span></h6>
							<div class="panel-actions">
								<a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
								<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body">
							<input type="hidden" id="rev_cate_id">
							<div class="form-group">
								<label for="nf-user">分类名称*</label>
								<input type="text"  class="form-control" id="rev_name" value="" placeholder="请输入分类名称">
							</div>
							<div class="form-group">
								<label for="nf-user">是否显示*</label>
								<select id="rev_state" class="form-control">
									<option value="0" selected>显示</option>
									<option value="1">隐藏</option>
								</select>
							</div>
							<div class="form-group">
								<label for="nf-user">排序</label>
								<input type="text"  class="form-control" id="rev_sort" value="0">
							</div>
							<button class="col-md-3 btn btn-success pull-right"	id="rev_cate">
								确定     
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{js href="/public/admin/assets/js/goods/goods_cates.js"}
{/block}