{extend name="Public:public"}

{block name="title"}
	<title>商品详情</title>
{/block}

<!-- body -->
{block name="body"}
	style="background:#fff;"
{/block}


		
{block name="content"}
	{css href="/public/shop/css/base.css"}
	{css href="/public/shop/css/index.css"}
	{css href="/public/shop/css/goods_detail.css"}
	{css href="/public/shop/css/swiper.min.css"}
	
	<!--消息通知-->
	<div class="notice">
		Option ship to Hk or ship to China through (CBT) policy
	</div>
	<!--轮播图区域-->
	<div class="swiper-container">
	    <div class="swiper-wrapper">
	    	{volist name="$goods_images" id="v"}
	        <div class="swiper-slide"><img src="{$v.iname}"/></div>
	    	{/volist}
	    </div>
		<div class="swiper-pagination"></div>
	</div>
	<!--商品信息区域-->
	<p class="goods_CnName">
		<strong>{$data.eng_title}</strong>
	</p>
	<p class="goods_EnName">
		<strong>{$data.hk_title}</strong>
	</p>
	<p class="goods_region">
		Cabernet Sauvignon from Oakville Napa Valley California
	</p>
	<!--得分-->
	<ul class="goods_score clearfix">
		<li>
			<span>JS</span>
			<span>100</span>
		</li>
		<li>
			<span>D</span>
			<span>99</span>
		</li>
		<li>
			<span>V</span>
			<span>98</span>
		</li>
	</ul>
	<!--加入购物车的区域-->
	<div class="addToCar">
		<div class="productPrice">
		HK$ {$data.marketprice}
		</div>
		<div class="AddCart">
			<button class="AddCart_Btn">
				Add to Cart
			</button>
			<div class="addCart_num">
				<span class="quantity">
					1
				</span>
				<select class="quantity_select" name="" id="">
					<option value="1" selected="selected">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					
				</select>
			</div>
		</div>
		<div class="icon_areas">
			<img class="collect_icon" src="/public/shop/img/icon12.png" alt="" />
			<img class="msg" src="/public/shop/img/icon13.png" alt="" />
		</div>
		
		
		
	</div>
	<!--弹出框-->
	<div class="msg_alert">
		<div class="proAlert">
			<div class="proAlert_message">
				Alert me when new vintages are available
			</div>
			<form class="proAlertForm" action="###">
				<input type="email" class="formWarp_input" placeholder="Enter your email address"/>
				<button class="formWarp_btn">
				Set Alert
				</button>
			</form>
			<fieldset class="formWarp_group">
				<label class="formWarp_label" style="font-size: 12px;">
					<input type="checkbox" class="formWarp_checkbox"/>
					 Alert me about new products from this winery
				</label>													
			</fieldset>
		</div>
	</div>
	<!--消息须知-->
	<div class="message_information">
		<p style="padding-top:16px ;">Through China's cross-border trade (CBT) policy,this wine can be passed to the domestic market with zero tariff. About the policy,</p>
		<a href="###" style="display: inline-block;padding-bottom: 16px;">please click me</a>
	</div>
	<!--评价区域-->
	<div class="evaluation_areas">
		<!--酿酒师笔记-->
		<div class="winemakerNotes">
			<h3 style="font-size: 16px;padding:28px 0 13px 10px ;">| Winemaker Notes</h3>
			<p>
				What a back-to-back pair of vintages! I assume one would have to go back to 2002 and 2001 to find two Screaming Eagles this compelling. The 2013 appears set for 25-30 years of longevity. There is something magical about this Oakville parcel on the valley floor just under the looming hillsides of such wineries as Phelps, Bacchus and Dalla Valle's Maya, and across the street from the Rudd Estate, Plumpjack, etc.
			</p>
		</div>
		<!--评级和奖-->
		<div class="rating_award">
			<h3 style="font-size: 16px;padding:28px 0 13px 10px ;">| Rating / Award</h3>
			<ul>
				<li>
					<div class="revaluate_person" style="margin-left: 10px;margin-bottom: 10px;">
						<span style="font-size: 10px;color: #dc143c; display: inline-block;border: 1px solid #bdbdbd;padding: 2px 10px;">JS</span>
						<span style="font-size: 10px;color: #717171;background: #eee; display: inline-block;border: 1px solid #bdbdbd;border-left:none;padding: 2px 10px;">100</span>
						<span style="font-size: 13px;color: #dc143c;display: inline-block;margin-left: 10px;">James Suckling</span>
					</div>
					<p class="revaluate_content" style="font-size: 13px;padding: 0 10px;">
						Breathtaking aromas of blueberry, wet earth, black truffle, vine bark and lavender undertones. Full-bodied, yet tight and compressed with fabulous savory and dark fruit flavors. It lasts for minutes on the finish. The classicism in this wine is second to none. Incredible subtlety. Lovely austerity. Beauty in simplicity. Glorious to taste, yet a wine for decades ahead. 76% cabernet sauvignon, 13% merlot, and 11% cabernet franc. 800 cases made.
					</p>
				</li>
				<li>
					<div class="revaluate_person" style="margin-left: 10px;margin-bottom: 10px;">
						<span style="font-size: 10px;color: #dc143c; display: inline-block;border: 1px solid #bdbdbd;padding: 2px 10px;">JS</span>
						<span style="font-size: 10px;color: #717171;background: #eee; display: inline-block;border: 1px solid #bdbdbd;border-left:none;padding: 2px 10px;">100</span>
						<span style="font-size: 13px;color: #dc143c;display: inline-block;margin-left: 10px;">James Suckling</span>
					</div>
					<p class="revaluate_content" style="font-size: 13px;padding: 0 10px;">
						Breathtaking aromas of blueberry, wet earth, black truffle, vine bark and lavender undertones. Full-bodied, yet tight and compressed with fabulous savory and dark fruit flavors. It lasts for minutes on the finish. The classicism in this wine is second to none. Incredible subtlety. Lovely austerity. Beauty in simplicity. Glorious to taste, yet a wine for decades ahead. 76% cabernet sauvignon, 13% merlot, and 11% cabernet franc. 800 cases made.
					</p>
				</li>
			</ul>
		</div>
		<!--酒庄-->
		<div class="Decoy">
			<h3 style="font-size: 16px;padding:28px 0 13px 10px ;">| Winemaker Notes</h3>
			<p style="font-size: 13px;color: #333333;padding: 0 10px;">
				Screaming Eagle is one of Napa Valley's smallest wineries. The little stone winery is perched on a rocky hillside in the Oakville Appellation overlooking the vineyard planted in Cabernet Sauvignon, Merlot and Cabernet Franc. The wine is aged in 65% new French oak barrels for almost two years. Annual production is approximately 500 cases with most wine sold directly to consumers via a mailing list. The winery's first release was approximately 200 cases of the 1992 vintage.
			</p>
		</div>
	</div>
	{js href="/public/shop/js/index.js"}
	<script type="text/javascript">
		var mySwiper = new Swiper('.swiper-container',{
	    pagination: '.swiper-pagination',
	    paginationClickable: true,
	    loop:true,
	    autoplayDisableOnInteraction : false,
	    autoplay:2000
	    });
	    
	    $(".msg").click(function(){
	    	
	    	if($(".msg").attr("src")=="/public/shop/img/icon13.png")
		   {
		    $(".msg").attr("src","/public/shop/img/icon15.png");
		   }
		   else
		   {
		    $(".msg").attr("src","/public/shop/img/icon13.png");
		   }
		   $(".msg_alert").slideToggle(300);
	    })
	     $(function() {
	        $(".addCart_num select").change(function() {
	            // 当选择的时候，找到当前选中的 option
	            var option = $(this).find("option:selected");
	            // 获得 value 和 对应文本
	            var selv = option.val();
	            var selt = option.text();
	            // 然后找到 select 的父节点的第0个 span，把 selt 写入到 span 中
	            $(this).parent().find("span:eq(0)").html(selt);
	        })
	        // 初始化的时候，执行一次change方法
	        	$(".addCart_num select").change();
	    });
	</script>
{/block}