{extend name="Public:public"}

{block name="title"}
	<title>訂單詳細</title>
{/block}

<!-- body -->
{block name="body"}
	style="background:#fff;"
{/block}

<!-- 内容 -->
{block name="content"}
	{css href="__PUBLIC__/shop/css/order_detail.css"}
	{js href="__PUBLIC__/shop/js/index.js"}

	<!--付款状态-->
	<div class="payment_state">
		<strong>
			{eq name="$order.status" value="1"}
			NON-PAYMENT
			{/eq}
		</strong>
	</div>
	<!--购买的酒品列表-->
	<ul class="wine_lists">
		{volist name="$order_goods" id="v"}
		<li class="clearfix">
			<div class="content_left">
				<img src="__SRC__{$v.iname}" width="80" height="70" />
			</div>
			<div class="content_right">
				<p class="goods_EnName">{$v.eng_title}</p>
				<p class="goods_CnName">{$v.hk_title}</p>
				<p class="clearfix" style="margin-top: 5px;">
					{volist name="$v.score_data" id="val"}
					<span class="EN_mark">{$val.mechanism}</span>
					<span class="num_score">{$val.score_num}</span>
					{/volist}
				</p>
				<!--价格-->
				<p style="margin-top: 4px;">
					<strong style="color: #dd153c;">HK $ <span>{$v.price}</span></strong>
					<strong>HK $<span>{$v.storeprice}</span></strong>
				</p>

				<!--取消按钮-->
				<div class="cancel_box clearfix">
					<span class="cancel">
						CANCEL
					</span>
				</div>
			</div>
			
		</li>
		{/volist}
	</ul>
	
	<!--订单的列表-->
	<div class="order_lists">
		<p style="padding-top: 14px;">Payment Options: <span>{$pay_name}</span></p>
		<p style="padding: 3px 0px;">Receiving Options: <span>{$pickup}</span></p>
		<p style="padding: 3px 0px;">Shop information: <span>{$shop.shop_title} Shop {$shop.address}</span></p>
		<p style="padding: 3px 0px;">Recipient: <span>{$order.user_name}</span>/<span>{$order.user_email}</span></p>
		<p style="color: #bd2744;padding: 5px 0px;">*Service time:from 9:00am to 20:00pm</p>
	</div>
	<!--购买列表-->
	<div class="purchase_list">
		<p style="text-align: right;padding-top: 10px;">Order Summary</p>
		<p style="text-align: right;padding-top: 3px;">Subtotal: <strong style="color: #dd153c;">HK$<span>{$order.price}</span></strong></p>
		<p style="text-align: right;padding-top: 3px;">Shipping & Handing: <strong style="color: #dd153c;">HK$<span>0</span></strong></p>
		<p style="text-align: right;padding-top: 3px;color: #dd153c;"><strong>Total:HK$ <span>{$order.price}</span></strong></p>
		<p class="clearfix" style="padding-top: 3px;padding-bottom: 15px;">
			<span class="f_left">{$total_num} item</span>
			<span class="f_right">Your order from {$order.create_time}</span>
		</p>
	</div>
	
{/block}


