{extend name="Public:public"}

{block name="title"}
	<title>添加会员</title>
{/block}

{block name="crumbs"}
	<li class="active">会员管理</li>
	<li class="active">添加会员</li>
{/block}

{block name="contents"}
	<div class="panel panel-default bk-bg-white col-md-6 col-md-offset-3">
		<div class="panel-heading bk-bg-white">
			<h6><i class="fa fa-indent red"></i>添加会员</h6>							
			<div class="panel-actions">
				<a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
				<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
			</div>
		</div>
		<div class="panel-body">
			<form action="{:url('admin/member/action_add_user')}" method="post">
				<div class="form-group">
					<label for="nf-user">用户名</label>
					<input type="user" id="nf-user" name="user_name" class="form-control" placeholder="请输入用户名">
				</div>
				<div class="form-group">
					<label for="nf-password">密码</label>
					<input type="password" id="nf-password" name="password" class="form-control" placeholder="请输入密码">
				</div>
				<div class="form-group">
					<label for="nf-password">确认密码</label>
					<input type="password" id="nf-password" name="repassword" class="form-control" placeholder="请再次输入密码">
				</div>
				<button type="submit" class="btn btn-primary col-md-3 pull-right">确认</button>
			</form>
		</div>								
	</div>
{/block}