{extend name="Public:public"}

{block name="title"}
	<title>修改管理员</title>
{/block}

{block name="crumbs"}
	<li class="active">权限管理</li>
	<li class="active">修改管理员</li>
{/block}

{block name="contents"}
	<div class="panel panel-default bk-bg-white col-md-6 col-md-offset-3">
		<div class="panel-heading bk-bg-white">
			<h6><i class="fa fa-indent red"></i>修改会员</h6>							
			<div class="panel-actions">
				<a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
				<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
			</div>
		</div>
		<div class="panel-body">
			<form action="{:url('admin/member/action_rev_user')}" method="post">
				<input type="hidden" name="id" value="{$data.id}">
				<div class="form-group">
					<label for="nf-user">用户名</label>
					<input type="user" id="nf-user" value="{$data.username}" class="form-control" name="username" readonly>
				</div>
				<div class="form-group">
					<label for="nf-user">姓</label>
					<input type="user" id="nf-user" name="first_name" value="{$data.first_name}" class="form-control">
				</div>
				<div class="form-group">
					<label for="nf-user">名</label>
					<input type="user" id="nf-user" name="last_name" value="{$data.last_name}" class="form-control">
				</div>
				<div class="form-group">
					<label for="nf-user">密码*（为空不修改）</label>
					<input type="password" id="nf-user" name="password" value="" class="form-control">
				</div>
				<button type="submit" class="btn btn-primary col-md-3 pull-right">确认</button>
			</form>
		</div>								
	</div>
{/block}